<h3>New Task Form</h3>

<label class="label">First Name: </label>

<input placeholder="First Name" class="input"
[(ngModel)]="user.title"
required minlength="2" maxlength="12"
#title='ngModel' autofocus>

<label class="label">Last Name: </label>

<input placeholder="Last Name" class="input"
[(ngModel)]="user.title"
required minlength="2" maxlength="11"
#title='ngModel' autofocus>

<div *ngIf="title.dirty">
  <span *ngIf='title.errors; then errors else valid'>template renders here...</span>
</div>

<button class="button is-primary" (click)='createUser()' [disabled]="!title.valid">Create</button>

<ng-template #valid>
  <p class="help is-success">looks good!</p>
</ng-template>

<ng-template #errors>
  <p class="help is-danger">form contains errors!</p>
</ng-template>
